/*Phần trên*/
body {
    background: url(/ImageIconFiles/bg_6.jpg);
    position:relative;
    background-size:cover;
}
.con{
    margin-top : 10vw;
    width : 100%;
    background : none;
    justify-content : center;
    align-items : center;
    text-align : center;
}
.con h1{
    font-size: 3vw;
}
.con p {
    font-size: 1.8vw;
}
/*Phần dưới*/
.con-2 {
    margin-top: 8vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    display : flex;
}
.box{
    font-size : 1.5vw;
    display:flex;
}
.box span{
    margin-left:12px;
}
.icon{
    min-width : 65px;
    height : 65px;
    background : #fff;
    display: flex;
    justify-content : center;
    align-items : center;
    border-radius : 50%;
    font-size : 2vw;
}