
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

    .overlay.active {
        display: block;
    }

.login {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    position : absolute;
    top: 10%;
    left: 50%;
    z-index: 2;
    background-color: white;
    transform: translate(-50%,50%) scale(0);
}
    .login form{
        padding: 0 40px;
        box-sizing : border-box;
    }
    form .txt-field {
        position: relative;
        border-bottom: 1px solid #adadad;
    }   
    .txt-field .input-change{
        width: 100%;
        padding: 0 5px;
        height : 40px;
        font-size: 16px;
        border : none;
        outline : none;
        background : none;
    }
    .txt-field label{
        position:absolute;
        top :50%;
        left : 5px;
        color: #adadad;
        transform : translateY(-50%);
        font-size : 16px;
        pointer-events : none;
        transition : .5s;
    }
    
    .txt-field span::before{
        content:'';
        position : absolute;
        top : 40px;
        left : 0;
        width: 0%; /*0% này để span không trc khi ấn vào không có màu*/
        height: 2px;
        background : #2691d9;
        transition : .5s;
    }
    /*để người dùng click vào*/
    .txt-field .input-change:focus ~ label,
    /*dòng này để kiểm track xem bên strong input có dữ liệu chưa*/
    .txt-field .input-change:valid ~ label
    {
        top : -5px;
        color : #2691d9;
    }
    /*dòng này để chạy animation span*/
    .txt-field .input-change:focus ~ span::before,
    .txt-field .input-change:valid ~ span::before {
        width: 100%;
    }

    .login.active {
        transition: all 300ms ease-in-out;
        transform: translate(-50%,50%) scale(1);
    }

    .login h1 {
        color: black;
        font-family: sans-serif;
        margin-top: 40px;
        font-size: 40px;
        padding-bottom:25px;
        margin-bottom:20px;
        border-bottom: 1px solid silver;
        text-align:center
    }
.buttonLogin {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #3A5FCD;
    text-transform: uppercase;
    letter-spacing: .10rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    color: whitesmoke;
    transition: all .35s;
    cursor: pointer;
    align-items : center;
    justify-content:center;
}

    .buttonLogin span {
        position: relative;
        z-index: 2;
    }

    .buttonLogin:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #79CDCD;
        transition: all .35s;
    }

    .buttonLogin:hover {
        color: black;
    }

        .buttonLogin:hover:after {
            width: 100%;
        }
