* {
    box-sizing: border-box;
    margin: 0 auto;
}
*::-webkit-scrollbar {
    display: none;
}
.logo {
    width: 300px;
}
.content {
    position:relative;
    float:right;
    width: 95.5%;
    height: 89%;
    font-family: sans-serif;
    z-index: -1;
}
.top-nav {
    height: 75px;
    background-color: #B0E0E6;
    overflow: hidden;
    font-family: 'Segoe UI';
    box-shadow: 0 0 5pt 0pt black;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-weight: lighter;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin:0px;
}

    .top-nav a {
        text-decoration: none;
        color: #000080;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-left:20px;
    }
        .top-nav a:hover {
            color: red;
            text-decoration : none;
        }
        .img-change{
            width:50px;
            height:50px;
            border-radius:50%;
        }
.nothover:hover::after {
    width: 0%;
    transition: none;
}
.nothover::after{
    width:0%;
}


.menu {
    position: fixed;
    height: 70%;
    width: 63px;
    top: 120px;
    left: 10px;
    background: #99D1D3;
    transition: width 1s;
    overflow: hidden;
    font-family: 'Poppins';
    box-shadow: 0 0 5pt black;
    border-radius: 10px;
}

    .menu:hover {
        width: 250px;
    }

.menuitem a span {
    position: absolute;
    left: 80px;
    top: 20px;
    transition: color 1s;
    color: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 17px;
}

.menuitem {
    height: 19%;
    line-height: 100px;
    position: relative;
    padding: 20px;
    transition-duration: 0.5s;
    font-weight: lighter;
}
    .menuitem:hover {
        background: ;
        cursor: pointer;
        transition-duration: 0.5s;
    }
.menuitemPH span {
    transition: color 1s;
    color: #555555;
    font-family: 'Segoe UI';
    font-size: 17px;
    text-decoration: none;
    padding-left:20px;
}
.menuitemPH {
    height: 16%;
    line-height: 100px;
    position: relative;
    padding: 20px;
    transition-duration: 0.5s;
    font-weight: bold;
}
    .menuitemPH a:hover {
        text-decoration: none;
    }
    .menuitemPH span:hover {
        color: red;
        cursor: pointer;
        transition-duration: 0.5s;
    }
a {
    color: whitesmoke;
    text-decoration-line : none;
}



.uno {
    color: #FFFAFA;
}

/*.uno:hover{
    border-left: 60px solid rgb(14, 14, 73);
}*/



.dos {
    color: #FFFAFA;
}

/*.dos:hover{
    border-left: 60px solid rgb(14, 14, 73);
}*/


.tres {
    color: #FFFAFA;
}

/*.tres:hover{
    border-left: 60px solid rgb(14, 14, 73);
}*/


.cuatro {
    color: #FFFAFA;
}

/*.cuatro:hover{
    border-left: 60px solid rgb(14, 14, 73);
}*/


.cinco {
    color: #FFFAFA;
}

/*.cinco:hover{
    border-left: 60px solid rgb(14, 14, 73);
}*/

i {
    font-size: 25px;
    color: #000080;
}
