@model CNPM_DOAN.Models.NGUOIDUNG

@{
    ViewBag.Title = "Informs";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xoa Tai Khoan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/MyCss/informs.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container d-flex" style="font-size:30px">
        <i></i>
        <a href="@Url.Action("showBaiTap", "BAITAPs", new { iduser = Session["IDUSER"] })">Quay về trang chủ</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    @if (Model.Avatar != null)
                    {
                        <img src="@Url.Action("GetImage", "NGUOIDUNGs", new { id = Model.IDNguoiDung })" alt="" style="width:100%;height:100%;" />
                    }
                    else
                    {<img src="" alt="" />}
                </div>
            </div>
            <div class="col-md-8">
                @Html.Partial("ViewConCaNhan")
            </div>
        </div>
    </div>
</body>
<script src="~/MyJs/xoataikhoan.js"></script>
<script>
    $(document).ready(function () {
        $('#myFile').on('change', function () {
            $('#submitForm').submit();
        });
    });
</script>