@model CNPM_DOAN.Models.NGUOIDUNG

<div class="border register" id="register" style="margin-top:50px">
    <form action="/NGUOIDUNGs/Register" method="post">
        @Html.AntiForgeryToken()
            <h1>Đăng Ký tài khoản</h1>
            <div class="txt-field " style="margin-bottom: 50px;">
                <input type="text" name="name" class="input-change" required oninvalid="this.setCustomValidity('Họ và tên không được rỗng')">
                <span></span>
                <label>Họ và tên</label>
            </div>
            <div class="txt-field " style="margin-bottom: 50px;">
                <input type="text" name="email" class="input-change" required oninvalid="this.setCustomValidity('Email không được rỗng')">
                <span></span>
                <label>Email</label>
            </div>
            <div>
            </div>

            <div class="txt-field " style="margin-bottom: 50px;">
                <input type="text" name="username" class="input-change" required oninvalid="this.setCustomValidity('Tên tài khoản không được rỗng')">
                <span></span>
                <label>Tài khoàn</label>
            </div>
            <div class="txt-field " style="margin-bottom: 50px;">
                <input type="password" name="password" class="input-change" required oninvalid="this.setCustomValidity('Tên tài khoản không được rỗng')">
                <span></span>
                <label>Mật khẩu</label>
            </div>
            <div class="txt-field " style="margin-bottom: 50px;">
                <input type="password" name="repassword" class="input-change" required id="repassword" onsubmit="validate()">
                <span></span>
                <label>Xác nhận mật khẩu</label>
            </div>
            <div class="d-flex row" style="margin-bottom:50px;">
                <div class="col-4">
                    <p style="padding:0 0 0 5px ; margin:0px">Ngày <s></s>inh</p>
                </div>
                <div class="col-8">
                    <div class="txt-field ">
                        <input type="date" name="birthday" class="input-change" style="width:100%;" required id="repassword" onsubmit="validate()">
                        <span></span>
                    </div>
                </div>
               
            </div>

            <div class="d-flex row" style="margin-bottom:50px">
                <div class="col-4">
                    <p style="padding:0 0 0 5px ; margin:0px">Giới tính</p>
                </div>
                <div class="col-8 d-flex">
                    <div>
                        <input class="radio-button"
                               type="radio"
                               name="gender"
                               value="Nam"
                               required />
                        <span class="span-change">Nam</span>
                    </div>
                    <div>
                        <input class="radio-button"
                               type="radio"
                               name="gender"
                               value="Nữ"
                               required />
                        <span class="span-change">Nữ</span><br />
                    </div>
                </div>
            </div>
        <div class="d-flex align-items-center justify-content-center">
            <button type="submit" class="btdangki"><span>Đăng ký</span></button>
        </div>
    </form>
</div>

<script>
    function validate() {
        var x = document.getElementById("password").value;
        var y = document.getElementById("repassword").value;
        x != y ? document.getElementById("repassword").setCustomValidity("Mật khẩu nhập lại không trùng khớp") : document.getElementById("repassword").setCustomValidity('');
    }
</script>