@model CNPM_DOAN.Models.BAIGIAI

@{
    ViewBag.Title = "ChinhSuaBaiNop";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="modal-dialog" style="top:30%">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModal-label">chỉnh sửa</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("ChinhSuaBaiNop", "BAIGIAIs", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="bg" />
                <input type="hidden" name="idbaigiai" value="@Session["IDBAIGIAI"]" />
                <input type="submit" value="Xác nhận" />
            }
        </div>
    </div>
</div>
