@model CNPM_DOAN.Models.BAIGIAI

@{
    ViewBag.Title = "ChiTietBaiGiai";
}

<link rel="stylesheet" href="~/MyCss/nopbaigiai.css" />
<body>
    <div class="khungnopbai">
        @if (Model == null)
        {
            <p>Chưa nộp bài</p>
            <button onclick="create()">Nộp bài</button>
        }
        else
        {
            <p>Tên file: @Model.TenBaiGiai</p>
            <p>Ngày hoàn thành: @Model.NgayHoanThanh</p>
            if (Model.SoDiem == null)
            {
                <p>Chưa có điểm</p>
            }
            else
            {
                <p>Điểm: </p><span>@Model.SoDiem</span>
            }
            <button id="@Model.IDBaiGiai" onclick="edit(this.id)">Chỉnh sửa bài nộp</button>
        }

    </div>
</body>