@model CNPM_DOAN.Models.BAIGIAI

@{
    ViewBag.Title = "NopBaiTap";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="modal-dialog" style="top:30%">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModal-label">Nộp bài</h4>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm("NopBaiTap", "BAIGIAIs", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="bg" required/>
                <input type="hidden" name="idnguoinop" value="@Session["IDUSER"]" />
                <input type="hidden" name="idbt" value="@Session["IDBAITAP"]" />
                <input type="submit" value="Xác nhận" />
            }
        </div>
    </div>
</div>


