@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/MyCss/lienhe.css" />
<body>
    <div>
        @*phần trên*@
        <div class="con">
            <h1>
                Liên hệ với chúng tôi
            </h1>
            <p>Nếu bạn có thắc mắc hoặc cần hỗ trợ hãy liên lạc cho chúng tôi thông qua các cách sau</p>
        </div>
        @*Phần dưới*@
        <div class="con-2">
            <div class="box" style="width:23vw;">
                <i class="fa fa-location-arrow icon" aria-hidden="true"></i>
                <span>
                    <p>Địa chỉ:</p>
                    <p style="font-size:1.1vw;">10 Quốc Lộ 22, Xã Tân Xuân, Huyện Hóc Môn , Ho Chi Minh City, Vietnam</p>
                </span>
            </div>
            <div class="box">
                <i class="fa fa-phone icon" style="margin-right:0px" aria-hidden="true"></i>
                <span>
                    <p>Điện thoại:</p>
                    <p>1900-2543-890</p>
                </span>
            </div>
            <div class="box">
                <i class="fa fa-envelope icon" aria-hidden="true"></i>
                <span>
                    <p>Email:</p>
                    <p>daylightedu@gmail.com</p>
                </span>
            </div>
        </div>
    </div>  
</body>

